
<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <style type="text/css" media="screen">
        body {
            background-color: beige;
            text-decoration-color: white;
            font-size: 5em;
        }
    </style>
</head>

<body>
    How to <%=data.title%>:<br />

        <ul>
            <% data.steps.forEach((item)=>{%>
                <li>
                    <%=item%>
                </li>
                <%});%>
        </ul>
</body> 
</html>